#btn2{


    background-color: rgb(224, 215, 215);
    height: 2rem;
    width: 5rem;
    border-radius: 10px;
}


.tggl{


    background-color: blanchedalmond;
    height: 100px;
    width: 400px;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}